@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,400;6..12,500;6..12,600;6..12,700&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: none;
    border-style: none;
    vertical-align: baseline;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito Sans', sans-serif;
}

.container {
    width: min(100% - 30px, 1080px);
    margin-inline: auto;
}

h1 {
    text-align: center;
}

.prices {
    display: flex;
}

.prices p {
    color: red;
}

.prices s {
    margin-right: 5px;
    color: red;
}

.box a {
    cursor: pointer;
}

.box {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap:wrap;
}

.two {
    display: none;
}

.show {
    text-align: center;
}

.pro {
    text-align: center;
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: rgba(0 0 0 / 0.3) 0 0 15px;
    margin-top: 10px;
}

.pro h3 {
    text-align: center;
}