@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,400;6..12,500;6..12,600;6..12,700&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: none;
    border-style: none;
    vertical-align: baseline;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito Sans', sans-serif;
}

h1, h2, h3, h4 {
    text-wrap: balance;
}

.container {
    width: min(100% - 30px, 1080px);
    margin-inline: auto;
}

/* --------------------Header + hero banner style----------------------- */
/* --------------------------------------------------------------------- */

.hero-banner {
    background: url(../img/bg-image.jpg) no-repeat center center ;
    background-size: cover;
}

header {
    height: 100%;
}

.header-content {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.links-1 {
    width: 45%;
    display: flex;
    justify-content: end;
}

.links-2 {
    width: 15%;
}

.flex {
    display: flex;
    align-items: center;
}

.header-content h1 {
    width: 40%;
    font-size: 28px;
    font-weight: 600;
}

.header-content li {
    margin-left: 50px;
}

.header-content a:not(.login) {
    color: #fafafa;
    transition: all 0.25s ease-in-out;
}

.links-1 a, .links-2 a {
    font-weight: 550;
}

.login {
    position: relative;
    color: #fafafa;
    background-color: #000;
    border: 2px solid #fafafa;
    padding: 10px 30px;
    border-radius: 50px;
    transition: all 0.25s ease-in-out;
    display: inline-block;
}

.login::after {
    position: absolute;
    content: url(../img/menu.png);
    visibility: hidden;
    left: 0px;
    top: 20px;
}

.links-1 a:hover, .links-2 li:not(.login):hover {
    color: #2997ff;
}

.login:hover {
    background-color: #fafafa;
    color: #000;
}

.first-section {
    height: 100%;
    color: #fafafa;
    text-align: center;
    padding-top: 170px;
    padding-bottom: 170px;
}

.first-section-content {
    width: 100%;   
}

.first-section-content h1 {
    font-size: 70px;
    font-weight: 600;
}

.first-section-content em {
    font-style: italic;
}

.first-section-content p {
    padding-top: 10px;
    font-size: 24px;
}

.first-section button {
    font-size: 18px;
    margin-top: 20px;
    padding: 15px 70px;
    color: #fafafa;
    background-color: #000;
    border: 2px solid #fafafa;
    transition: all 0.3s ease-in-out;
}

.first-section button:hover {
    color: #000;
    background-color: #fafafa;
    cursor: pointer;
}

/* --------------------Second Section style---------------------- */
/* -------------------------------------------------------------- */

.second-section {
    margin-top: 30px;
}

.second-section h1 {
    text-align: center;
    font-size: 50px;
}

.prices {
    display: flex;
}

.prices p {
    color: red;
}

.prices s {
    margin-right: 5px;
    color: red;
}

.box a {
    cursor: pointer;
}

.box {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap:wrap;
}

.two {
    display: none;
}

.show {
    text-align: center;
}

.pro {
    text-align: center;
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: rgba(0 0 0 / 0.3) 0 0 15px;
    margin-top: 10px;
}

.pro h3 {
    text-align: center;
}
a {
    text-decoration: none;
}

li {
    list-style: none;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

/* --------------------Today's Pick style------------------------ */
/* -------------------------------------------------------------- */

.deal {
    margin-top: 80px;
}

.deal h2 {
    font-size: 50px;
    text-align: center;
    margin-bottom: 20px;
}
.deal-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.deal-flex h3 {
    font-size: 30px;
    margin-bottom: 10px;
}

.deal-flex p, .deal-flex li {
    font-size: 18px;
}

.deal-flex ul {
    margin-top: 10px;
    list-style: none;
    font-style: italic;
}

.deal button {
    font-size: 18px;
    padding: 15px 30px;
    border: 1px solid #000;
    border-radius: 3px;
    background-color: #000;
    color: #fff;
    margin-top: 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.deal button:hover {
    background-color: #fafafa;
    color: #000;
}

/* --------------------Sign Up style------------------------ */
/* --------------------------------------------------------- */

.sign-up {
    background-color: #000;
    margin-top: 80px;
    display: grid;
    place-items: center;
    padding: 80px 0px 80px 0px;
}

.sign-up h2, .sign-up p {
    color: #fff;
}

.sign-up h2 {
    font-size: 40px
}
.sign-up p {
    padding: 10px 0px 30px 0px;
    font-size: 18px;
}

.sign-up button {
    padding: 15px 30px;
    font-size: 18px;
    border: 1px solid #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.sign-up button:hover {
    background-color: #000;
    color: #fafafa;
}